@{
    ViewData["Title"] = "Error";
}

<div style="text-align:center; padding:80px;">
    <h1 style="color:#6C3FC5;">Something went wrong.</h1>
    <p>Please try again or contact support.</p>
    <a href="/">Go Home</a>
</div>